@import "../../node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap');
*{margin:0;padding:0;}
:root {
  --first-color: #2c74b8;
  --second-color: #d37522;
  --third-color: #807f7d;
  --white-color: #fff;
  --fullhd-size:1920px;
  --table-size:768px;
  --mobile-size:500px;
}

body{margin:0;padding: 0;font-family: 'Oswald', sans-serif;font-size:1em;overflow-x:hidden;}
#maximusContainer{width:100%;height:100%;
position: relative;overflow: unset;
	left: 0;top: 0;overflow: hidden;
-webkit-transition: .5s ease-in-out;-moz-transition: .5s ease-in-out; -o-transition: .5s ease-in-out; transition: .5s ease-in-out;}
#maximusContainer.blue{color:#fff;}
#maximusContainer.orange{color:#fff;}
#scrollContainer{width: 100%;min-height: 100vh; padding-bottom: 0;}
#maximusContainer.scroll{position: fixed;}
#scrollContainer.scroll{padding-bottom: 60px;}
.container{width:90%;margin:0 auto;max-width:1920px;}
#canvasBackground{position: fixed;top:0;left:0;min-height: 100vh;width:100%;z-index: -1;}
header .logoHeaderContainer{width: calc(100% - 20px);top:0;left:0;padding:20px;}
header .logoHeader{display:block;width: 150px;}
header .logoHeader img{width: 100%;}
header input{display: none;}
header input + label{position: absolute;z-index: 5;top:20px;right:20px;}

/* Icon 2 */
#nav-icon2{width: 60px; height: 45px;position: relative;-webkit-transition: .5s ease-in-out;-moz-transition: .5s ease-in-out; -o-transition: .5s ease-in-out; transition: .5s ease-in-out;cursor: pointer;}
#nav-icon2 span{display: block; position: absolute; height: 5px;  opacity: 1; border-radius: 9px; transform-origin:0 0; -webkit-transition: .25s ease-in-out;-moz-transition: .25s ease-in-out;-o-transition: .25s ease-in-out;transition: .25s ease-in-out;}
#nav-icon2 span:nth-child(1){background-color: var(--first-color);width:100%;}
#nav-icon2 span:nth-child(2){background-color: var(--second-color);top: 18px;left: 0;width:45%;z-index: 10;}
#nav-icon2 span:nth-child(3){background-color: var(--first-color);top: 18px;left: 55%;width:45%;}
#nav-icon2 span:nth-child(4){background-color: var(--third-color);top: 36px;left: 0;width:25%;}
#nav-icon2 span:nth-child(5){background-color: var(--first-color);top: 36px;left: 35%;width:65%;}
#nav-icon2 #containerSpan6 span{background-color: var(--first-color);top: 18px;left: 7px;width: 50%;transform-origin: 100% 0;-webkit-transform: scale(0,1);-moz-transform: scale(0,1);-o-transform: scale(0,1);transform: scale(0,1); }
#nav-icon2 #containerSpan7 span{background-color: var(--first-color);top: 2px;left: -20px;width: 50%;transform-origin: 100% 0;-webkit-transform: scale(0,1);-moz-transform: scale(0,1);-o-transform: scale(0,1);transform: scale(0,1);}
#nav-icon2 #containerSpan8 span{background-color: var(--second-color);top: -8px;left: 17px;width: 50%;transform-origin: 100% 0;-webkit-transform: scale(0,1);-moz-transform: scale(0,1);-o-transform: scale(0,1);transform: scale(0,1);}
#nav-icon2 #containerSpan9 span{background-color: var(--third-color);top: 18px;left: 45px;width: 40%;transform-origin: 0 0;-webkit-transform: scale(0,1);-moz-transform: scale(0,1);-o-transform: scale(0,1);transform: scale(0,1);}

#maximusContainer.blue{
	#nav-icon2{
		span:nth-child(1){background-color: var(--white-color);}
		span:nth-child(2){background-color: var(--second-color);}
		span:nth-child(3){background-color: var(--white-color);}
		span:nth-child(4){background-color: var(--second-color);}
		span:nth-child(5){background-color: var(--white-color);}
		#containerSpan6 span{background-color: var(--white-color);}
		#containerSpan7 span{background-color: var(--white-color);}
		#containerSpan8 span{background-color: var(--second-color);}
		#containerSpan9 span{background-color: var(--second-color);}
	}
}

#maximusContainer.orange{
	#nav-icon2{
		span:nth-child(1){background-color: var(--white-color);}
		span:nth-child(2){background-color: var(--first-color);}
		span:nth-child(3){background-color: var(--white-color);}
		span:nth-child(4){background-color: var(--first-color);}
		span:nth-child(5){background-color: var(--white-color);}
		#containerSpan6 span{background-color: var(--white-color);}
		#containerSpan7 span{background-color: var(--white-color);}
		#containerSpan8 span{background-color: var(--first-color);}
		#containerSpan9 span{background-color: var(--first-color);}
	}
}

#nav-icon2.open span:nth-child(1){-webkit-transform: scale(0,1);-moz-transform: scale(0,1);-o-transform: scale(0,1);transform: scale(0,1); -webkit-animation:openMenu1 0.5s ;-moz-animation:openMenu1 0.5s ;-ms-animation:openMenu1 0.5s ;animation:openMenu1 0.5s;}
#nav-icon2.open span:nth-child(2){-webkit-transform: scale(0,1); -moz-transform: scale(0,1); -o-transform: scale(0,1); transform: scale(0,1);-webkit-animation:openMenu2 .5s cubic-bezier(.86,0,.07,1);-moz-animation:openMenu2 .5s cubic-bezier(.86,0,.07,1); -ms-animation:openMenu2 .5s cubic-bezier(.86,0,.07,1);animation:openMenu2 .5s cubic-bezier(.86,0,.07,1);}
#nav-icon2.open span:nth-child(3){width:0;-webkit-transform: scale(0,1); -moz-transform: scale(0,1); -o-transform: scale(0,1); transform: scale(0,1);-webkit-animation:openMenu3 .5s cubic-bezier(.86,0,.07,1); -moz-animation:openMenu3 .5s cubic-bezier(.86,0,.07,1); -ms-animation:openMenu3 .5s cubic-bezier(.86,0,.07,1); animation:openMenu3 .5s cubic-bezier(.86,0,.07,1);}
#nav-icon2.open span:nth-child(4){ -webkit-transform: scale(0,1); -moz-transform: scale(0,1); -o-transform: scale(0,1); transform: scale(0,1);  -webkit-animation:openMenu4 1s; -moz-animation:openMenu4 1s; -ms-animation:openMenu4 1s;animation:openMenu4 1s;}
#nav-icon2.open span:nth-child(5){-webkit-transform: scale(0,1);-moz-transform: scale(0,1);-o-transform: scale(0,1);transform: scale(0,1); -webkit-animation:openMenu5 1s ;-moz-animation:openMenu5 1s ;-ms-animation:openMenu5 1s ;animation:openMenu5 1s;}
#nav-icon2.open #containerSpan6 span{ -webkit-transform: scale(1,1); -moz-transform: scale(1,1);  -o-transform: scale(1,1); transform: scale(1,1); -webkit-animation:openMenu6 1s cubic-bezier(.86,0,.07,1); -moz-animation:openMenu6 1s cubic-bezier(.86,0,.07,1); -ms-animation:openMenu6 1s cubic-bezier(.86,0,.07,1); animation:openMenu6 1s cubic-bezier(.86,0,.07,1);}
#nav-icon2.open #containerSpan7 span{ -webkit-transform: scale(1,1);-moz-transform: scale(1,1); -o-transform: scale(1,1); transform: scale(1,1); -webkit-animation:openMenu7 1s cubic-bezier(.86,0,.07,1); -moz-animation:openMenu7 1s cubic-bezier(.86,0,.07,1);  -ms-animation:openMenu7 1s cubic-bezier(.86,0,.07,1); animation:openMenu7 1s cubic-bezier(.86,0,.07,1);}
#nav-icon2.open #containerSpan8 span{transform-origin: 0 0;width:40%;-webkit-transform: scale(1,1);-moz-transform: scale(1,1);-o-transform: scale(1,1);transform: scale(1,1);-webkit-animation:openMenu8 1s cubic-bezier(.86,0,.07,1); -moz-animation:openMenu8 1s cubic-bezier(.86,0,.07,1);-ms-animation:openMenu8 1s cubic-bezier(.86,0,.07,1); animation:openMenu8 1s cubic-bezier(.86,0,.07,1);}
#nav-icon2.open #containerSpan9 span{-webkit-transform: scale(1,1);-moz-transform: scale(1,1);-o-transform: scale(1,1);transform: scale(1,1); -webkit-animation:openMenu9 1s cubic-bezier(.86,0,.07,1); -moz-animation:openMenu9 1s cubic-bezier(.86,0,.07,1); -ms-animation:openMenu9 1s cubic-bezier(.86,0,.07,1); animation:openMenu9 1s cubic-bezier(.86,0,.07,1);}

#nav-icon2.load span:nth-child(1){-webkit-animation:loadMenu1 0.5s;-moz-animation:loadMenu1 0.5s;-ms-animation:loadMenu1 0.5s;animation:loadMenu1 0.5s;}
#nav-icon2.load span:nth-child(2){-webkit-animation:loadMenu2 1.5s;-moz-animation:loadMenu2 1.5s;-ms-animation:loadMenu2 1.5s;animation:loadMenu2 1.5s;}
#nav-icon2.load span:nth-child(3),#nav-icon2.close span:nth-child(3){-webkit-animation:loadMenu3 1s;-moz-animation:loadMenu3 1s;-ms-animation:loadMenu3 1s;animation:loadMenu3 1s;}
#nav-icon2.load span:nth-child(4),#nav-icon2.close span:nth-child(4){-webkit-animation:loadMenu4 2s;-moz-animation:loadMenu4 1s;-ms-animation:loadMenu4 2s;animation:loadMenu4 2s;}
#nav-icon2.load span:nth-child(5),#nav-icon2.close span:nth-child(5){-webkit-animation:loadMenu5 1.5s;-moz-animation:loadMenu5 1.5s;-ms-animation:loadMenu5 1.5s;animation:loadMenu5 1.5s;}

#nav-icon2.close span:nth-child(2){-webkit-animation:loadMenu2 1.5s;-moz-animation:loadMenu2 1.5s;-ms-animation:loadMenu2 1.5s;animation:loadMenu2 1.5s;}
#nav-icon2.close #containerSpan6 span{-webkit-transform: scale(0,1);-moz-transform: scale(0,1);-o-transform: scale(0,1);transform: scale(0,1);-webkit-animation:closeMenu6 0.25s cubic-bezier(.86,0,.07,1);-moz-animation:closeMenu6 0.25s cubic-bezier(.86,0,.07,1);-ms-animation:closeMenu6 0.25s cubic-bezier(.86,0,.07,1);animation:closeMenu6 0.25s cubic-bezier(.86,0,.07,1);}
#nav-icon2.close #containerSpan7 span{-webkit-transform: scale(0,1);-moz-transform: scale(0,1);-o-transform: scale(0,1);transform: scale(0,1); -webkit-animation:closeMenu7 0.5s cubic-bezier(.86,0,.07,1);-moz-animation:closeMenu7 0.5s cubic-bezier(.86,0,.07,1); -ms-animation:closeMenu7 0.5s cubic-bezier(.86,0,.07,1);animation:closeMenu7 0.5s cubic-bezier(.86,0,.07,1);}
#nav-icon2.close #containerSpan9 span{-webkit-transform: scale(0,1);-moz-transform: scale(0,1);-o-transform: scale(0,1);transform: scale(0,1); -webkit-animation:closeMenu9 0.5s cubic-bezier(.86,0,.07,1);-moz-animation:closeMenu9 0.5s cubic-bezier(.86,0,.07,1); -ms-animation:closeMenu9 0.5s cubic-bezier(.86,0,.07,1);animation:closeMenu9 0.5s cubic-bezier(.86,0,.07,1);}

nav{display: grid;align-items: center;position: absolute;top:0;z-index: 1; width: 100%;height: 100vh;background: var(--white-color);
	transform-origin: 50% 0;
	opacity: 0;-webkit-transform: scale(1,0);-moz-transform: scale(1,0);-o-transform: scale(1,0);transform: scale(1,0);
	-webkit-transition:opacity 0.25s ease-in-out;-moz-transition:opacity 0.25s ease-in-out;-o-transition:opacity 0.25s ease-in-out;transition:opacity 0.25s ease-in-out;}
nav.close{-webkit-animation:closeMenu 2s;-moz-animation:closeMenu 2s;-ms-animation:closeMenu 2s;animation:closeMenu 2s;}
nav.open{
	opacity: 1;-webkit-transform: scale(1);-moz-transform: scale(1);-o-transform: scale(1);transform: scale(1);
	-webkit-animation:openMenu 1s;-moz-animation:openMenu 1s;-ms-animation:openMenu 1s;animation:openMenu 1s;   }
nav ul{padding:0;margin:0;width:100%;height:50vh;list-style: none;text-align: center;display: grid;align-items:center;grid-template-rows: repeat(5,1fr);}
nav ul li a{color:var(--first-color);text-decoration: none;font-size: 2em;}
nav ul li a.active{color:#c7c7c7;}
nav ul li a span{display:block;opacity:0;transform:scale(0);-webkit-transition: .25s ease-in-out;-moz-transition: .25s ease-in-out;-o-transition: .25s ease-in-out;transition: .25s ease-in-out;-webkit-animation:closeNavLink 1s;-moz-animation:closeNavLink 1s;-ms-animation:closeNavLink 1s;animation:closeNavLink 1s;}
nav ul li:hover a span{color:#c7c7c7;}

@for $i from 0 through 5 {
  nav ul.open li:nth-child(#{$i}) a span {
  	opacity:1;transform:scale(1);
  	-webkit-animation:openNavLink 1s ;
  	-moz-animation:openNavLink 1s;
  	-ms-animation:openNavLink 1s;
  	animation:openNavLink 1s;
  	animation-delay: 0.5s + $i * (1s / 10);
  }
}
#maximusContainer.blue{
	nav{background: var(--first-color);}
	nav ul li a{color:var(--white-color);}
	nav ul li a.active{color:#c7c7c7;}
}
#maximusContainer.orange{
	nav{background: var(--second-color);}
	nav ul li a{color:var(--white-color);}
	nav ul li a.active{color:var(--first-color);}
}

/*    FOOTER      */
footer{margin:0;padding: 50px 0;text-align: center;
	.container{display:grid;grid-gap:20px;padding: 50px 0;text-align: center;}
	p, a{color:#4c4c4c;}
	a{text-decoration: none;}
	img{max-width: 200px;}
}

/*    THEME   */
.sectionFirst{width: 100%;}
.revealOnScroll{overflow:hidden;}

/*    home    */
#firstSectionHome .container{display: grid;grid-template-rows: 100px 30% 50%;padding: 10vh 0 0 10%;grid-gap: 50px;}
#firstSectionHomeText{overflow:hidden;color:#807f7d;padding: 0;max-width: 70%;font-size: 1.5em;margin: 0;font-weight: 100;}
#firstSectionHomeText span{display:block;}
#logoHome{max-width: 500px;display: grid;align-self: center;width:90%;}
.videoContainer{width: 500px;margin:0 0 0 calc(100% - 500px);}
.videoContainer video{width:100%;box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.5);}
@media(max-width: 500px){
  #firstSectionHome .container{height: 50vh;}
  #firstSectionHomeText{font-size: 1em;}
  .videoContainer{width:320px;margin:0 0 0 calc(100% - 320px);}
}
@media(max-width: 360px){#firstSectionHome .container{height: 80vh;}}
.sectionCarousel{padding:50px 0;}
@media(max-width: 500px){.sectionCarousel{padding:0 0 50px 0;}}
.titlesectionCarousel{text-align: center;font-size: 1.5em;max-width: 340px;margin: 0 auto 50px auto;}
.glide {
    &__slide {min-height: 50vh;}
    .box{max-width:360px;height: 100%;text-align:center;margin:0 auto;padding:20px 30px;background: #fff;border-radius: 5px;color:var(--third-color);}
    .box{
      .profilePicture{display:block;width:100px;margin:0 auto;opacity: 0;
        -webkit-transform: translate(0,-10px);-moz-transform: translate(0,-10px);-o-transform: translate(0,-10px);transform: translate(0,-10px);
        -webkit-transition: 1s ease-in-out;-moz-transition: 1s ease-in-out;-o-transition: 1s ease-in-out;transition: 1s ease-in-out;}
      .memberTitle{text-align: center;color:var(--first-color); margin:15px 0;font-size: 1.8em;opacity:0;
        -webkit-transform: translate(0,10px);-moz-transform: translate(0,10px);-o-transform: translate(0,10px);transform: translate(0,10px);
        -webkit-transition: 1s ease-in-out;-moz-transition: 1s ease-in-out;-o-transition: .1s ease-in-out;transition: 1s ease-in-out;}
      .memberDescription{opacity:0;margin:10px 0;font-weight:100;
        -webkit-transform: translate(0,10px);-moz-transform: translate(0,10px);-o-transform: translate(0,10px);transform: translate(0,10px);
        -webkit-transition: 1s ease-in-out;-moz-transition: 1s ease-in-out;-o-transition: 1s ease-in-out;transition: 1s ease-in-out;}
      .socialContainer{margin:25px 0;opacity: 0;-webkit-transition: 1s ease-in-out;-moz-transition: 1s ease-in-out;-o-transition: 1s ease-in-out;transition: 1s ease-in-out;}
      .socialContainer img{width: 30px;}
    }
    &__slide .box{
      .profilePicture{opacity: 1;
        -webkit-transform: translate(0);-moz-transform: translate(0);-o-transform: translate(0);transform: translate(0);
      }
      .memberTitle{opacity: 1;
        -webkit-transform: translate(0);-moz-transform: translate(0);-o-transform: translate(0);transform: translate(0);
      }
      .memberDescription{opacity: 1;
        -webkit-transform: translate(0);-moz-transform: translate(0);-o-transform: translate(0);transform: translate(0);
      }
      .socialContainer{opacity: 1;}
    }
}
@media(max-width: 500px){.glide {.box{max-width: unset;}}}


@media screen {
    /*** content ***/
    #content {position: relative; z-index: 2;overflow: hidden;}
    #planes {
        /* width of items * number of items */
        width: calc(((100vw / 1.75) + 10vw) * 7);

        padding: 0 2.5vw;
        height: 100vh;
        display: flex;
        align-items: center;

        cursor: move;

        transition: background-color 0.5s;
    }

    #planes.dragged {
        background-color: #03879a;
    }

    .plane-wrapper {
        position: relative;

        width: calc(100vw / 1.75);
        height: 70vh;
        margin: auto 5vw;
        text-align: center;
    }

    /* disable pointer events and text selection during drag */
    #planes.dragged .plane-wrapper {
        pointer-events: none;

        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .plane-title {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        transform: translate3D(-50%, -50%, 0);
        font-size: 4vw;
        font-weight: 700;
        line-height: 1.2;
        text-transform: uppercase;
        color: #032f4d;
        text-stroke: 1px white;
        -webkit-text-stroke: 1px white;

        transition: color 0.5s;
    }

    #planes.dragged .plane-title {
        color: transparent;
    }

    .plane {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        overflow: hidden;
        transition: filter 0.5s;
    }

    #planes.dragged .plane {
        filter: grayscale(1);
    }

    .plane img {
        display: block;
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;

        /* prevent original image from dragging */
        pointer-events: none;
        -webkit-user-drag: none;
        -khtml-user-drag: none;
        -moz-user-drag: none;
        -o-user-drag: none;
        user-drag: none;
    }

    #drag-tip {
        position: fixed;
        right: 20px;
        bottom: 20px;
        left: 20px;
        z-index: 1;
        pointer-events: none;
        font-size: 0.9em;
        text-transform: uppercase;
        color: #032f4d;
        text-align: center;
    }

}

@media screen and (orientation: portrait) {

    #content {
        max-height: 100vh;
    }

    #planes {
        overflow: hidden;
        width: 100vw;

        padding: 2.5vh 0;
        height: auto;
        flex-direction: column;
    }

    .plane-wrapper {
        width: 70vw;
        height: calc(100vh / 1.75);
        margin: 5vw 0;
    }

    .plane-title {
        font-size: 10vw;
    }

}

.sectionBotones {padding:0 0 100px 0;}
.sectionBotones .container{display: grid;grid-template-columns: 1fr 1fr;}
.sectionBotones .container .title{grid-column-start: 1;grid-column-end: 3;color:#3d3d3d;text-align: center;font-size: 1.5em;}

@media(max-width: 500px){
	.sectionBotones .container{display: grid;grid-template-columns: 1fr;}
	.sectionBotones .container .title{grid-column-start: 1;grid-column-end: 2;}
}
.btnContainer{
	position: relative;text-align: center;width:245px;height: 64px;margin:50px auto 0 auto;
	a{position:absolute;width:70px;border:5px;border-radius: 5px;padding:20px;color: #fff;text-decoration: none;transition:transform 2s ease-in-out;}
	a.clicked{transform: scale(50);}
	.btn{width:100%;height:100%;background-repeat: no-repeat;background-size: contain;border-radius: 5px;}
	&#beneficiosBtn{
		a{background: var(--first-color);left:0;box-shadow:9px 5px 13px rgba(26,23,23,0.5);}
		a.clicked{color: var(--first-color);z-index: 10;}
		.btn{background-image: url('../assets/beneficios-back.png');background-position: 100% 0;}
	}

	&#serviciosBtn{
		a{background: var(--second-color);right:0;box-shadow:-9px 5px 13px rgba(26,23,23,0.5);}
		a.clicked{color: var(--second-color);z-index: 10;}
		.btn{background-image: url('../assets/servicios-back.png');}
	}
}

.sectionPartners{
	.container{display: grid;grid-template-columns: 1fr 1fr;grid-gap:20px;align-items: center;max-width: 245px;}
	p{grid-column-start: 1;grid-column-end: 3;color:#3d3d3d;text-align: center;font-size: 1.5em;}
	img{margin:0 auto;}
}

hr{background:#818181;margin:50px 20px 0 20px;border: 0;height: 1px;}




/*	SERVICIOS	*/
#firstSectionAbout{max-width: 640px;margin:0 auto;}
#firstSectionAbout .container{text-align: center;}
#firstSectionAbout .container img{width: 100%;}







/*  ANIMATIONS  */
@-webkit-keyframes openMenu1{from{transform-origin: 100% 0;transform: scale(1,1);}to{transform-origin: 100% 0;transform: scale(0,1);}}
@-moz-keyframes openMenu1{from{transform-origin: 100% 0;transform: scale(1,1);}to{transform-origin: 100% 0;transform: scale(0,1);}}
@-ms-keyframes openMenu1{from{transform-origin: 100% 0;transform: scale(1,1);}to{transform-origin: 100% 0;transform: scale(0,1);}}
@-o-keyframes openMenu1{from{transform-origin: 100% 0;transform: scale(1,1);}to{transform-origin: 100% 0;transform: scale(0,1);}}
@keyframes openMenu1{from{transform-origin: 100% 0;transform: scale(1,1);}to{transform-origin: 100% 0;transform: scale(0,1);}}

@-webkit-keyframes openMenu2{ 0%{transform-origin:100% 0;transform: scale(1, 1);} 80%{transform-origin:100% 0;transform: scale(0, 1) translate(-15px, 0);}}
@-moz-keyframes openMenu2{ 0%{transform-origin:100% 0;transform: scale(1, 1);} 80%{transform-origin:100% 0;transform: scale(0, 1) translate(-15px, 0);}}
@-ms-keyframes openMenu2{ 0%{transform-origin:100% 0;transform: scale(1, 1);} 80%{transform-origin:100% 0;transform: scale(0, 1) translate(-15px, 0);}}
@-o-keyframes openMenu2{ 0%{transform-origin:100% 0;transform: scale(1, 1);} 80%{transform-origin:100% 0;transform: scale(0, 1) translate(-15px, 0);}}
@keyframes openMenu2{ 0%{transform-origin:100% 0;transform: scale(1, 1);} 80%{transform-origin:100% 0;transform: scale(0, 1) translate(-15px, 0);}}

@-webkit-keyframes openMenu3{ 0%{transform: translate(0, 0);}10%{transform: translate(-15px, 0);}100%{transform: translate(-15px, 0) scale(0,1);;}}
@-moz-keyframes openMenu3{ 0%{transform: translate(0, 0);}10%{transform: translate(-15px, 0);}100%{transform: translate(-15px, 0) scale(0,1);;}}
@-ms-keyframes openMenu3{ 0%{transform: translate(0, 0);}10%{transform: translate(-15px, 0);}100%{transform: translate(-15px, 0) scale(0,1);}}
@-o-keyframes openMenu3{ 0%{transform: translate(0, 0);}10%{transform: translate(-15px, 0);}100%{transform: translate(-15px, 0) scale(0,1);}}
@keyframes openMenu3{ 0%{transform: translate(0, 0);}10%{transform: translate(-15px, 0);}100%{transform: translate(-15px, 0) scale(0,1);}}

@-webkit-keyframes openMenu4{from{transform: scale(1,1);}to{transform: scale(0,1);}}
@-moz-keyframes openMenu4{from{transform: scale(1,1);}to{transform: scale(0,1);}}
@-ms-keyframes openMenu4{from{transform: scale(1,1);}to{transform: scale(0,1);}}
@-o-keyframes openMenu4{from{transform: scale(1,1);}to{transform: scale(0,1);}}
@keyframes openMenu4{from{transform: scale(1,1);}to{transform: scale(0,1);}}

@-webkit-keyframes openMenu5{from{transform-origin: 100% 0;transform: scale(1,1);}to{transform-origin: 100% 0;transform: scale(0,1);}}
@-moz-keyframes openMenu5{from{transform-origin: 100% 0;transform: scale(1,1);}to{transform-origin: 100% 0;transform: scale(0,1);}}
@-ms-keyframes openMenu5{from{transform-origin: 100% 0;transform: scale(1,1);}to{transform-origin: 100% 0;transform: scale(0,1);}}
@-o-keyframes openMenu5{from{transform-origin: 100% 0;transform: scale(1,1);}to{transform-origin: 100% 0;transform: scale(0,1);}}
@keyframes openMenu5{from{transform-origin: 100% 0;transform: scale(1,1);}to{transform-origin: 100% 0;transform: scale(0,1);}}

@-webkit-keyframes openMenu6{0%,10%{transform-origin:100% 0;transform: scale(0,1);}20%{transform-origin:100% 0;transform: scale(1,1);}35%{transform-origin:0 0;}50%{transform-origin:0 0; transform: scale(0.7,1);}100%{transform-origin:0 0; transform: scale(1,1);}}
@-moz-keyframes openMenu6{0%,10%{transform-origin:100% 0;transform: scale(0,1);}20%{transform-origin:100% 0;transform: scale(1,1);}35%{transform-origin:0 0;}50%{transform-origin:0 0; transform: scale(0.7,1);}100%{transform-origin:0 0; transform: scale(1,1);}}
@-ms-keyframes openMenu6{0%,10%{transform-origin:100% 0;transform: scale(0,1);}20%{transform-origin:100% 0;transform: scale(1,1);}35%{transform-origin:0 0;}50%{transform-origin:0 0; transform: scale(0.7,1);}100%{transform-origin:0 0; transform: scale(1,1);}}
@-o-keyframes openMenu6{0%,10%{transform-origin:100% 0;transform: scale(0,1);}20%{transform-origin:100% 0;transform: scale(1,1);}35%{transform-origin:0 0;}50%{transform-origin:0 0; transform: scale(0.7,1);}100%{transform-origin:0 0; transform: scale(1,1);}}
@keyframes openMenu6{0%,10%{transform-origin:100% 0;transform: scale(0,1);}20%{transform-origin:100% 0;transform: scale(1,1);}35%{transform-origin:0 0;}50%{transform-origin:0 0; transform: scale(0.7,1);}100%{transform-origin:0 0; transform: scale(1,1);}}

@-webkit-keyframes openMenu7{0%,70%{transform: scale(0,1);}100%{transform: scale(1,1);}}
@-moz-keyframes openMenu7{0%,70%{transform: scale(0,1);}100%{transform: scale(1,1);}}
@-ms-keyframes openMenu7{0%,70%{transform: scale(0,1);}100%{transform: scale(1,1);}}
@-o-keyframes openMenu7{0%,70%{transform: scale(0,1);}100%{transform: scale(1,1);}}
@keyframes openMenu7{0%,70%{transform: scale(0,1);}100%{transform: scale(1,1);}}

@-webkit-keyframes openMenu8{0%,10%{transform-origin:100% 0;transform: scale(0,1);width:55%;}50%{transform-origin:100% 0;transform: scale(1,1);}100%{ transform: scale(1,1);width:40%;}}
@-moz-keyframes openMenu8{0%,10%{transform-origin:100% 0;transform: scale(0,1);width:55%;}50%{transform-origin:100% 0;transform: scale(1,1);}100%{ transform: scale(1,1);width:40%;}}
@-ms-keyframes openMenu8{0%,10%{transform-origin:100% 0;transform: scale(0,1);width:55%;}50%{transform-origin:100% 0;transform: scale(1,1);}100%{ transform: scale(1,1);width:40%;}}
@-o-keyframes openMenu8{0%,10%{transform-origin:100% 0;transform: scale(0,1);width:55%;}50%{transform-origin:100% 0;transform: scale(1,1);}100%{ transform: scale(1,1);width:40%;}}
@keyframes openMenu8{0%,10%{transform-origin:100% 0;transform: scale(0,1);width:55%;}50%{transform-origin:100% 0;transform: scale(1,1);}100%{ transform: scale(1,1);width:40%;}}

@-webkit-keyframes openMenu9{0%,50%{transform: scale(0,1);}100%{transform: scale(1,1);}}
@-moz-keyframes openMenu9{0%,50%{transform: scale(0,1);}100%{transform: scale(1,1);}}
@-ms-keyframes openMenu9{0%,50%{transform: scale(0,1);}100%{transform: scale(1,1);}}
@-o-keyframes openMenu9{0%,50%{transform: scale(0,1);}100%{transform: scale(1,1);}}
@keyframes openMenu9{0%,50%{transform: scale(0,1);}100%{transform: scale(1,1);}}

@-webkit-keyframes loadMenu1{from{width:0;}to{width:100%;}}
@-moz-keyframes loadMenu1{from{width:0;}to{width:100%;}}
@-ms-keyframes loadMenu1{from{width:0;}to{width:100%;}}
@-o-keyframes loadMenu1{from{width:0;}to{width:100%;}}
@keyframes loadMenu1{from{width:0;}to{width:100%;}}

@-webkit-keyframes loadMenu2{0%,50%{width:0;}100%{width:45%;}}
@-moz-keyframes loadMenu2{0%,50%{width:0;}100%{width:45%}}
@-ms-keyframes loadMenu2{0%,50%{width:0;}100%{width:45%}}
@-o-keyframes loadMenu2{0%,50%{width:0;}100%{width:45%}}
@keyframes loadMenu2{0%,50%{width:0;}100%{width:45%}}

@-webkit-keyframes loadMenu3{0%,25%{left:0;width:0;}50%{left:0;width:100%;}51%,70%{left:0;width:100%;}71%,99%{left:unset;right:0;}100%{left:unset;right:0;width:45%;}}
@-moz-keyframes loadMenu3{0%,25%{left:0;width:0;}50%{left:0;width:100%;}51%,70%{left:0;width:100%;}71%,99%{left:unset;right:0;}100%{left:unset;right:0;width:45%;}}
@-ms-keyframes loadMenu3{0%,25%{left:0;width:0;}50%{left:0;width:100%;}51%,70%{left:0;width:100%;}71%,99%{left:unset;right:0;}100%{left:unset;right:0;width:45%;}}
@-o-keyframes loadMenu3{0%,25%{left:0;width:0;}50%{left:0;width:100%;}51%,70%{left:0;width:100%;}71%,99%{left:unset;right:0;}100%{left:unset;right:0;width:45%;}}
@keyframes loadMenu3{0%,25%{left:0;width:0;}50%{left:0;width:100%;}51%,70%{left:0;width:100%;}71%,99%{left:unset;right:0;}100%{left:unset;right:0;width:45%;}}

@-webkit-keyframes loadMenu4{0%,50%{width:0;}100%{width:25%;}}
@-moz-keyframes loadMenu4{0%,50%{width:0;}100%{width:25%}}
@-ms-keyframes loadMenu4{0%,50%{width:0;}100%{width:25%}}
@-o-keyframes loadMenu4{0%,50%{width:0;}100%{width:25%}}
@keyframes loadMenu4{0%,50%{width:0;}100%{width:25%}}

@-webkit-keyframes loadMenu5{0%,45%{left:0;width:0;}60%{left:0;width:100%;}61%,70%{left:0;width:100%;}71%,99%{left:unset;right:0;}100%{left:unset;right:0;width:65%;}}
@-moz-keyframes loadMenu5{0%,45%{left:0;width:0;}60%{left:0;width:100%;}61%,70%{left:0;width:100%;}71%,99%{left:unset;right:0;}100%{left:unset;right:0;width:65%;}}
@-ms-keyframes loadMenu5{0%,45%{left:0;width:0;}60%{left:0;width:100%;}61%,70%{left:0;width:100%;}71%,99%{left:unset;right:0;}100%{left:unset;right:0;width:65%;}}
@-o-keyframes loadMenu5{0%,45%{left:0;width:0;}60%{left:0;width:100%;}61%,70%{left:0;width:100%;}71%,99%{left:unset;right:0;}100%{left:unset;right:0;width:65%;}}
@keyframes loadMenu5{0%,45%{left:0;width:0;}60%{left:0;width:100%;}61%,70%{left:0;width:100%;}71%,99%{left:unset;right:0;}100%{left:unset;right:0;width:65%;}}

@-webkit-keyframes closeMenu6{0%{transform: scale(1,1);}100%{transform: scale(0,1);}}
@-moz-keyframes closeMenu6{0%{transform: scale(1,1);}100%{transform: scale(0,1);}}
@-ms-keyframes closeMenu6{0%{transform: scale(1,1);}100%{transform: scale(0,1);}}
@-o-keyframes closeMenu6{0%{transform: scale(1,1);}100%{transform: scale(0,1);}}
@keyframes closeMenu6{0%{transform: scale(1,1);}100%{transform: scale(0,1);}}

@-webkit-keyframes closeMenu7{0%,10%{transform-origin: 0 0;transform: scale(1,1);}100%{transform-origin: 0 0;transform: scale(0,1);}}
@-moz-keyframes closeMenu7{0%,10%{transform-origin: 0 0;transform: scale(1,1);}100%{transform-origin: 0 0;transform: scale(0,1);}}
@-ms-keyframes closeMenu7{0%,10%{transform-origin: 0 0;transform: scale(1,1);}100%{transform-origin: 0 0;transform: scale(0,1);}}
@-o-keyframes closeMenu7{0%,10%{transform-origin: 0 0;transform: scale(1,1);}100%{transform-origin: 0 0;transform: scale(0,1);}}
@keyframes closeMenu7{0%,10%{transform-origin: 0 0;transform: scale(1,1);}100%{transform-origin: 0 0;transform: scale(0,1);}}

@-webkit-keyframes closeMenu9{0%,10%{transform-origin: 100% 0;transform: scale(1,1);}100%{transform-origin: 100% 0;transform: scale(0,1);}}
@-moz-keyframes closeMenu9{0%,10%{transform-origin: 100% 0;transform: scale(1,1);}100%{transform-origin: 100% 0;transform: scale(0,1);}}
@-ms-keyframes closeMenu9{0%,10%{transform-origin: 100% 0;transform: scale(1,1);}100%{transform-origin: 100% 0;transform: scale(0,1);}}
@-o-keyframes closeMenu9{0%,10%{transform-origin: 100% 0;transform: scale(1,1);}100%{transform-origin: 100% 0;transform: scale(0,1);}}
@keyframes closeMenu9{0%,10%{transform-origin: 100% 0;transform: scale(1,1);}100%{transform-origin: 100% 0;transform: scale(0,1);}}

@-webkit-keyframes openMenu{0%{opacity:0;transform:scale(1);}100%{opacity:1;}}
@-moz-keyframes openMenu{0%{opacity:0;transform:scale(1);}100%{opacity:1;}}
@-ms-keyframes openMenu{0%{opacity:0;transform:scale(1);}100%{opacity:1;}}
@-o-keyframes openMenu{0%{opacity:0;transform:scale(1);}100%{opacity:1;}}
@keyframes openMenu{ 0%{opacity:0;transform:scale(1);}100%{opacity:1;}}

@-webkit-keyframes closeMenu{	0%{opacity:1;transform: scale(1);}100%{opacity:0;transform: scale(1);}}
@-moz-keyframes closeMenu{	0%{opacity:1;transform: scale(1);}100%{opacity:0;transform: scale(1);}}
@-ms-keyframes closeMenu{	0%{opacity:1;transform: scale(1);}100%{opacity:0;transform: scale(1);}}
@-o-keyframes closeMenu{	0%{opacity:1;transform: scale(1);}100%{opacity:0;transform: scale(1);}}
@keyframes closeMenu{	0%{opacity:1;transform: scale(1);}100%{opacity:0;transform: scale(1);}}

@-webkit-keyframes openNavLink{from{opacity:0;transform: scale(1.2);}to{opacity:1;transform: scale(1);}}
@-moz-keyframes openNavLink{from{opacity:0;transform: scale(1.2);}to{opacity:1;transform:  scale(1);}}
@-ms-keyframes openNavLink{from{opacity:0;transform: scale(1.2);}to{opacity:1;transform:  scale(1);}}
@-o-keyframes openNavLink{from{opacity:0;transform: scale(1.2);}to{opacity:1;transform: scale(1);}}
@keyframes openNavLink{from{opacity:0;transform: scale(1.2);}to{opacity:1;transform: scale(1);}}

@-webkit-keyframes closeNavLink{from{opacity:1; transform: scale(1);} to{opacity:0; transform: scale(0.5);}}
@-moz-keyframes closeNavLink{from{opacity:1; transform: scale(1);} to{opacity:0; transform: scale(0.5);}}
@-ms-keyframes closeNavLink{from{opacity:1; transform: scale(1);} to{opacity:0; transform: scale(0.5);}}
@-o-keyframes closeNavLink{from{opacity:1; transform: scale(1);} to{opacity:0; transform: scale(0.5);}}
@keyframes closeNavLink{from{opacity:1; transform: scale(1);} to{opacity:0; transform: scale(0.5);}}